<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>User| Reset Password</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/views/CSS/basic/login.css">
</head>

<body>
  <div id="loading-container" style="display: none;">
    <object data="/views/utilities/loading.ejs"></object>
  </div>
  <div class="main-container" id="main-content">
    <div class="container">
      <div class="image-container">
        <img src="/views/Images/logo.png">
        <h3>Pandit Deendayal Energy University</h3>
      </div>
      <form action="/user/api/resetPassword?token=<%= token %>" method="post" onsubmit="return validatePassword()">
        <div class="login-main">
          <div>
            <label for="newPassword">New Password</label>&emsp;&emsp;
            <input type="password" id="newPassword" name="newPassword" required>
          </div>
          <div>
            <label for="confirmNewPassword">Confirm New Password</label>&emsp;&emsp;
            <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
          </div>
          <p id="passwordError" style="color: red; display: none;">Passwords do not match.</p>
          <br>
          <button class="btn" type="submit">Update Password</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    function validatePassword() {
      const newPassword = document.getElementById('newPassword').value;
      const confirmNewPassword = document.getElementById('confirmNewPassword').value;
      const passwordError = document.getElementById('passwordError');

      if (newPassword !== confirmNewPassword) {
        passwordError.style.display = 'block';
        return false; // Prevent form submission
      } else {
        passwordError.style.display = 'none';
        return true; // Allow form submission
      }
    }
  </script>
</body>

</html>