<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hostel ERP Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <%- include('./nav.ejs') %>
  <script>
    // Check if the token is defined and not an empty string
    const token = '<%= typeof token !== "undefined" && token !== "" ? token : "" %>';
    const userData = '<%= typeof userData !== "undefined" ? JSON.stringify(userData) : "{}" %>';

    const userData1 = JSON.parse('<%- unescape(JSON.stringify(userData)) %>');

    if (token && userData) {
      localStorage.setItem('token', token);
      localStorage.setItem('userData', JSON.stringify(userData1));
    }

    // Set the token as a global variable
    window.token = token;
    window.userData = userData;
  </script>

</body>


</html>