<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hostel ERP User</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .bg-custom {
      background-color: #ff8600 !important;
    }
  </style>
</head>

<body>
  <%- include('./nav.ejs') %>

  <script>
    const token = '<%= token %>';

    if (token) {
      localStorage.setItem('token', token);
    }
  </script>
</body>

</html>